#
# Copyright (C) 2022 Nethesis S.r.l.
# SPDX-License-Identifier: GPL-3.0-or-later
#

[Unit]
Description=Podman  guacamole-app.service
BindsTo=guacamole.service
After=guacamole.service mariadb-app.service guacd-app.service

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
EnvironmentFile=%S/state/environment
EnvironmentFile=-%S/state/smarthost.env
WorkingDirectory=%S/state
Restart=always
TimeoutStopSec=70
ExecStartPre=/bin/mkdir -p config
ExecStartPre=/bin/rm -f %t/guacamole-app.pid %t/guacamole-app.ctr-id
ExecStartPre=-runagent discover-smarthost
ExecStart=/usr/bin/podman run --conmon-pidfile %t/guacamole-app.pid \
    --cidfile %t/guacamole-app.ctr-id --cgroups=no-conmon \
    --pod-id-file %t/guacamole.pod-id --replace -d --name  guacamole-app \
    --env MYSQL_USER=guacamole \
    --env MYSQL_PASSWORD=guacamole \
    --env MYSQL_DATABASE=guacamole \
    --env MYSQL_HOSTNAME=127.0.0.1 \
    --env GUACD_HOSTNAME=127.0.0.1 \
    --env REMOTE_IP_VALVE_ENABLED=true \
    ${GUACAMOLE_IMAGE}
ExecStop=/usr/bin/podman stop --ignore --cidfile %t/guacamole-app.ctr-id -t 10
ExecReload=/usr/bin/podman kill -s HUP guacamole-app
SyslogIdentifier=%u
ExecStopPost=/usr/bin/podman rm --ignore -f --cidfile %t/guacamole-app.ctr-id
PIDFile=%t/guacamole-app.pid
Type=forking

[Install]
WantedBy=default.target
